# Group Activity Week 12, Heather Leighton-Dick

In [22]:
import numpy as np
import pandas as pd
import math
import statistics
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import poisson

from statsmodels.graphics.tsaplots import plot_pacf
from statsmodels.graphics.tsaplots import plot_acf
from statsmodels.tsa.statespace.sarimax import SARIMAX
from statsmodels.tsa.holtwinters import ExponentialSmoothing
from statsmodels.tsa.stattools import adfuller
#from tqdm import tqdm_notebook
#from itertools import product
import warnings
warnings.filterwarnings('ignore')

### 1. Write a lambda function to rearrange positive and negative numbers in a given list:

Sample output:

original_list = [-1,2,-3,4,-5,6,-7,8,-9,10,-11,12]

resulting_list = [2,4,6,8,10,12,-11,-9,-7,-5,-3,-1]

In [40]:
# initializing a list
arr = [-1,2,-3,4,-5,6,-7,8,-9,10,-11,12]
# lambda expression
new_list = list(filter(lambda arr: [x for x in arr if x >= 0])) + sorted(list(filter[x for x in arr if x < 0]))
# rearranging the arr

new_arr = rearrange_numbers(arr)
# printing the resultant array
print(new_arr)

SyntaxError: invalid syntax (512290586.py, line 4)

### 2 Create a new dataframe using week_11/temperatures/temperature.csv file
from last class. It should have the datetime column and one of the cities.
Create a new boolean column called is_freezing that indicates if the
temperature is at or below freezing. Use a lambda to create this column. Is
there a better way to do this than with a lambda?

In [46]:
#bring in csv and convert it to a dataframe
temperature_path = "temperature.csv"
temperature_df = pd.read_csv(temperature_path)
temperature_df = pd.DataFrame(temperature_df)
print(temperature_df.head(5))
print(len(temperature_df))
#273.15

          datetime   Vancouver    Portland  San Francisco     Seattle  \
0  10/1/2012 12:00         NaN         NaN            NaN         NaN
1  10/1/2012 13:00  284.630000  282.080000     289.480000  281.800000
2  10/1/2012 14:00  284.629041  282.083252     289.474993  281.797217
3  10/1/2012 15:00  284.626998  282.091866     289.460618  281.789833
4  10/1/2012 16:00  284.624955  282.100481     289.446243  281.782449

   Los Angeles   San Diego   Las Vegas     Phoenix  Albuquerque  ...  \
0          NaN         NaN         NaN         NaN          NaN  ...
1   291.870000  291.530000  293.410000  296.600000   285.120000  ...
2   291.868185  291.533501  293.403141  296.608509   285.154558  ...
3   291.862844  291.543355  293.392177  296.631487   285.233952  ...
4   291.857503  291.553209  293.381213  296.654466   285.313345  ...

   Philadelphia    New York    Montreal      Boston   Beersheba  \
0           NaN         NaN         NaN         NaN         NaN
1    285.630000  288.220000  285.830000  287.170000  307.590000
2    285.663208  288.247676  285.834650  287.186092  307.590000
3    285.756824  288.326940  285.847789  287.231672  307.391513
4    285.850440  288.406203  285.860929  287.277251  307.145200

   Tel Aviv District       Eilat  Haifa  Nahariyya  Jerusalem
0                NaN  309.100000    NaN        NaN        NaN
1         305.470000  310.580000  304.4      304.4      303.5
2         304.310000  310.495769  304.4      304.4      303.5
3         304.281841  310.411539  304.4      304.4      303.5
4         304.238015  310.327308  304.4      304.4      303.5

[5 rows x 37 columns]
45253

In [47]:
temperature_df_Vancouver = temperature_df.filter(["datetime", "Vancouver"], axis=1)
temperature_df_Vancouver.head()

          datetime   Vancouver
0  10/1/2012 12:00         NaN
1  10/1/2012 13:00  284.630000
2  10/1/2012 14:00  284.629041
3  10/1/2012 15:00  284.626998
4  10/1/2012 16:00  284.624955

In [17]:
temperature_df_Vancouver["datetime"] = pd.to_datetime(temperature_df_Vancouver["datetime"])
temperature_df_Vancouver.head()
temperature_df_Vancouver.dropna()

                 datetime   Vancouver  is_freezing
1     2012-10-01 13:00:00  284.630000        False
2     2012-10-01 14:00:00  284.629041        False
3     2012-10-01 15:00:00  284.626998        False
4     2012-10-01 16:00:00  284.624955        False
5     2012-10-01 17:00:00  284.622911        False
...                   ...         ...          ...
44456 2017-10-27 20:00:00  286.440000        False
44457 2017-10-27 21:00:00  287.870000        False
44458 2017-10-27 22:00:00  288.420000        False
44459 2017-10-27 23:00:00  288.650000        False
44460 2017-10-28 00:00:00  288.010000        False

[44458 rows x 3 columns]

In [49]:
import time

time.perf_counter()
temperature_df_Vancouver["is_freezing"] = temperature_df_Vancouver.apply(lambda x:True if x["Vancouver"]<= 273.15 else False, axis=1)
#temperature_df_Vancouver.head(5)
temperature_df_Vancouver["is_freezing"].value_counts()
time.perf_counter()

55069.006906538

Is there a better way to do this than with a lambda?

In [45]:
#use timer function - best way? find another method and time it
import time

time.perf_counter()

def function(x):
    if x > 273.15:
        return True
    if x < 273.15:
        return False
    else:
        pass
    
time.perf_counter() 

#brainstorming: temperature_df_Vancouver["is_freezing2"] = temperature_df_Vancouver ... pandas code that evaluates and arranges?

54996.716736097

### Based on the performance counter results, the function in the second pane is ever so slightly more efficient, if I'm interpreting them correctly (i.e. it's showing the number of "events" as the program runs.

### BONUS: if you still have time, try to do a pivot of the data in question 2 so you have the hourly data for all the cities and a flag for if it's freezing.